\set ECHO 0
BEGIN;
\i sql/<%= extension_name %>.sql
\set ECHO all

-- You should write your tests

SELECT <%= extension_name %>('foo', 'bar');

SELECT 'foo' #? 'bar' AS arrowop;

CREATE TABLE ab (
    a_field <%= extension_name %>
);

INSERT INTO ab VALUES('foo' #? 'bar');
SELECT (a_field).a, (a_field).b FROM ab;

SELECT (<%= extension_name %>('foo', 'bar')).a;
SELECT (<%= extension_name %>('foo', 'bar')).b;

SELECT ('foo' #? 'bar').a;
SELECT ('foo' #? 'bar').b;

ROLLBACK;
